
 body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

 #bg-video{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* detrás de todo */
  filter: blur(6px) brightness(0.6);
}

/* Tarjeta */
#game-container {
  display: flex;
  justify-content: center; /* centra horizontal */
  align-items: center;     /* centra vertical */

}

/* Canvas */
canvas{
 
  box-shadow: 0 20px 40px rgb(70, 42, 142);
 background: rgba(3, 9, 48, 0.485); /* más transparente */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* compatibilidad */
}
